@model Stackaby.Models.Portal.User.LoginModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    form {
        height: 100%;
    }
</style>

@using (Html.BeginForm())
{
    <div style="width: 500px; margin: auto; position: relative; top: 50%; transform: translate(0, -50%);" class="row column align-center medium-6 large-4 container-padded">
        <form class="log-in-form">
            <h4 class="text-center">Log in with you email account</h4>
            <label>Email
                @Html.EditorFor(x => x.Email)
            </label>
            <label>Password
                @Html.EditorFor(x => x.Password)
            </label>
            <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
            <p><input type="submit" class="button expanded" value="Log in"></p>
            <p class="text-center"><a href="#">Forgot your password?</a></p>
        </form>
    </div>
}