@model Stackaby.Models.Portal.User.LoginModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    form {
        height: 100%;
    }
</style>

<h1>Home Page</h1>

@Html.ActionLink("Login", "Login", "Authentication")
@Html.ActionLink("Register", "Register", "Authentication")