@using Stackaby.Portal.Services
@inject IAuthenticationService AuthenticationService;

@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h2>Welcome @(AuthenticationService.GetAuthenticatedUser()?.FullName)</h2>

@Html.ActionLink("Sign out", "SignOut", "Authentication")
